

.top-display{background-color:rgb(91, 118, 240)}

h1 { 
    color: white;

}

.over{ 
    color:white;
}
  #BtnSubmit{ background-color: rgb(241, 200, 70);
    border:none;
   
  
  }

  body { 
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
  }

